doctype html
html(ng-app="quotes")
    head
        title Quote Book
        link(rel="stylesheet" href="styles/main.css")
    body(ng-controller="mainCtrl")
        
        input(type='text' ng-model="text" placeholder='Quote' ng-show='showAdd')    
        input(type='text' ng-model='author' placeholder='Author' ng-show="showAdd")
        button(ng-click="addQuote(); toggleShowAdd()") Add Quote
        br
        input(type='text' ng-model='title' placeholder='Remove Quote by Text or Author' ng-show='showRemove')
        
        button(ng-click="removeQuote(); toggleShowRemove()") Remove Quote
        br
        input(class='form-control' ng-model='filter.author' placeholder='Filter by Author')
        .quotes(ng-repeat = 'data in quotes | filter: filter')
            hr
            h2 {{data.text}}
            h3 {{data.author}}
            hr

        script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js")
        script(src="scripts/app.js")
        script(src="scripts/controller.js")
        script(src="scripts/dataService.js")
