html, body {
  height: 100%;
  width: 100%;
  margin: 0; }

body {
  background: #c8c8c8;
  font-family: Helvetica; }

.quotes {
  width: 100%;
  background: #d3d3d3;
  color: #333; }
  .quotes h2, .quotes h3 {
    font-weight: 200; }

input {
  width: 200px;
  height: 25px;
  border: 1px solid lightblue;
  border-radius: 5px;
  margin: 2px; }
